@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
}

.dark {
  color-scheme: dark;
}

.icon {
  @apply inline-flex h-14
   w-14 cursor-pointer items-center rounded-full p-2 text-black text-opacity-100 hover:text-opacity-40 hover:duration-200
   dark:text-white dark:text-opacity-30 dark:hover:text-opacity-80;
}

.has-tooltip:hover .navbar-tooltip {
  @apply opacity-100 transition-all duration-500 ease-linear;
}

.has-tooltip:hover .start-tag {
  @apply opacity-40 blur-0 transition-all duration-500 ease-linear;
}

.slide-in-left {
  @apply -translate-x-full transform opacity-0 blur-md duration-1000 ease-in;
}
.slide-in-right {
  @apply translate-x-full transform opacity-0 blur-md duration-1000 ease-in;
}
.fade-in {
  @apply opacity-0 blur-md duration-1000 ease-in;
}
.show {
  @apply translate-x-0 opacity-100 blur-none;
}

.shooting-star-animation {
  animation: animate 9.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(55deg) translateX(-100%) translateY(-100%);
    filter: blur(0px);
    opacity: 100%;
  }
  100% {
    transform: rotate(55deg) translateX(650px) translateY(0%);
    filter: blur(2px);
    opacity: 0%;
  }
}
.shooting-star-box span:nth-child(1) {
  animation-delay: 7s;
  animation-timing-function: cubic-bezier(0.02, 1, 0.02, 1);
}

.shooting-star-box span:nth-child(2) {
  animation-delay: 9s;
  animation-timing-function: cubic-bezier(0.19, 0, 0.22, 3);
}
.shooting-star-box span:nth-child(3) {
  animation-delay: 4s;
  animation-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
}

.shooting-star-box svg:nth-child(4) {
  animation-delay: 5s;
}

.shooting-star-box svg:nth-child(5) {
  animation-delay: 4.12s;
}

.shooting-star-box svg:nth-child(6) {
  animation-delay: 6s;
}

.shooting-star-box svg:nth-child(7) {
  animation-delay: 7s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.shooting-star-box svg:nth-child(8) {
  animation-delay: 9s;
  animation-timing-function: cubic-bezier(0.86, 0.84, 0.44, 1);
}

.shooting-star-box svg:nth-child(9) {
  animation-delay: 4.13s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.shooting-star-box svg:nth-child(10) {
  animation-delay: 2.5s;
}

.loading {
  animation: loading 3s ease-out 1;
}

@keyframes loading {
  0% {
    filter: blur(0%);
  }
  100% {
    filter: blur(100%);
  }
}


@keyframes uncover {
  0% {
    opacity: 0;
    transform: scaleX(0%) rotateY(100deg);
  }
  100% {
    opacity: 1;
    transform: scaleX(100%) rotateY(0deg);
  }
}
@keyframes cover {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateY(100deg);
  }
}

.has-animation:hover .uncover-animation {
  animation: uncover 400ms ease-in-out forwards;
}
.has-animation:hover .cover-animation {
  animation: cover 300ms ease-in-out forwards;
}

@keyframes slide-down {
  0%{
    opacity: 0;
    transform: translateY(-100%) scale(0);
    filter: blur(12px);
    overflow-y: hidden;
  }
  100%{
    opacity: 1;
    transform: translateY(0%) scale(1);
    filter: blur(0px);
  }
}

.slide-down{
  animation: slide-down 1s ease-in-out 1 forwards;
}

@keyframes floating {
  0% {
    transform: translateY(0%) translateX(0);
  }

  50% {
    transform: translateY(5%) translateX(1%);
  }

  100% {
    transform: translateY(0%) translateX(0%);
  }
}

.floating {
  animation: floating 3s ease-in-out infinite forwards;
}

@media (prefers-reduced-motion) {
  .hidden {
    @apply transition-none;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-500 bg-opacity-40;
  }
}

@media (max-width: 640px) {
  .image {
    width: 100px;
    height: 100px;
  }
}
