@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

.icon {
  @apply inline-flex items-center
   cursor-pointer w-14 h-14 p-2 rounded-full text-black text-opacity-100 hover:opacity-40 transition-all duration-300 ease-linear
   dark:text-white dark:text-opacity-30 dark:hover:text-opacity-90;
}

.has-tooltip:hover .navbar-tooltip {
  @apply opacity-100 transition-all duration-500 ease-linear;
}

.has-tooltip:hover .start-tag {
  @apply opacity-40 blur-0 transition-all duration-500 ease-linear;
}

.hide {
  @apply opacity-0 transition-all duration-1000 ease-in blur-md transform -translate-x-full;
}
.hide2 {
  @apply opacity-0 transition-all duration-300 ease-in blur-md;
}
.show {
  @apply opacity-100 blur-none translate-x-0;
}
.animate {
  animation: animate 8.5s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(55deg) translateX(-100%) translateY(-100%);
    filter: blur(0px);
    opacity: 100%;
  }
  100% {
    transform: rotate(55deg) translateX(600px) translateY(0%);
    filter: blur(2px);
    opacity: 2%;
  }
}
.animates span:nth-child(1) {
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0.65, 0.84, 0.44, 4);
}

.animates span:nth-child(2) {
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 9);
}

.animates span:nth-child(3) {
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.22, 2);
}

.animates svg:nth-child(5) {
  animation-delay: 120ms;
}

.animates svg:nth-child(6) {
  animation-delay: 2s;
}

.animates svg:nth-child(7) {
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.animates svg:nth-child(8) {
  animation-delay: 5s;
  animation-timing-function: cubic-bezier(0.86, 0.84, 0.44, 1);
}

.animates svg:nth-child(9) {
  animation-delay: 130ms;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media (prefers-reduced-motion) {
  .hidden {
    @apply transition-none;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-500 bg-opacity-40;
  }
}

@media (max-width: 640px) {
  .image {
    width: 100px;
    height: 100px;
  }

  .special-text-about {
    @apply mt-3 px-5 text-xs;
  }

  .special-text-contact {
    @apply pr-0 pt-32;
  }

  .special-text-sm {
    @apply text-sm;
  }

  .special-text-xs {
    @apply text-xs;
  }

  .special-flex-wrap {
    @apply flex-wrap;
  }
  .start-tags-box {
    @apply bottom-3 right-2;
  }
}
