@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

.icon {
  @apply inline-flex items-center
   cursor-pointer w-14 h-14 p-2 rounded-full text-black text-opacity-100 hover:opacity-40 transition-all duration-300 ease-linear
   dark:text-white dark:text-opacity-30 dark:hover:text-opacity-90;
}
.tooltip {
  @apply w-auto px-1.5 py-1 rounded-md shadow-md text-xs font-bold opacity-0;
}
.has-tooltip:hover .tooltip {
  @apply opacity-100 transition-all duration-500 ease-linear;
}
.tooltip2 {
  @apply w-8 h-8 rounded-md mx-2 blur-sm opacity-0;
}
.has-tooltip:hover .tooltip2 {
  @apply opacity-40 blur-0 transition-all duration-500 ease-linear;
}

.hide {
  @apply opacity-0 transition-all duration-1000 ease-in blur-md transform -translate-x-full;
}
.hide2 {
  @apply opacity-0 transition-all duration-1000 ease-in blur-md;
}
.show {
  @apply opacity-100 blur-none translate-x-0;
}

@media (prefers-reduced-motion) {
  .hidden {
    @apply transition-none;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-500 bg-opacity-40;
  }
}

@media (max-width: 640px) {
  .image {
    width: 100px;
    height: 100px;
  }

  .special-text-about {
    @apply mt-3 px-5 text-xs;
  }

  .special-text-contact {
    @apply pr-0 pt-32;
  }

  .special-text-sm {
    @apply text-sm;
  }

  .special-text-xs {
    @apply text-xs;
  }

  .special-flex-wrap {
    @apply flex-wrap;
  }
}
